# OS
.DS_Store

# VS Code
.vscode/

# Claude Code
.claude/settings.local.json

# Logs
*.log

# Env
.env
.env.*
!.env.example
!.env.*.example
!.env.test

# Package manager
package-lock.json

# Dependencies
node_modules

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Output
/build
/.svelte-kit
/coverage
.output
.netlify
.vercel
.wrangler
